---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/1NgBFb-1WXj-ku_Fym3BQF1FxXUz9xrvpuIPVnSdvo6KjHo
    method: GET
  response:
    body: '[{"championId":39,"championLevel":7,"championPoints":158346,"lastPlayTime":1572672109000,"championPointsSinceLastLevel":136746,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"1NgBFb-1WXj-ku_Fym3BQF1FxXUz9xrvpuIPVnSdvo6KjHo"},{"championId":80,"championLevel":6,"championPoints":104758,"lastPlayTime":1572660146000,"championPointsSinceLastLevel":83158,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":2,"summonerId":"1NgBFb-1WXj-ku_Fym3BQF1FxXUz9xrvpuIPVnSdvo6KjHo"},{"championId":67,"championLevel":6,"championPoints":90291,"lastPlayTime":1571186744000,"championPointsSinceLastLevel":68691,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned[...]
