---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/tft/league/v1/challenger
    method: GET
  response:
    body: '{"tier":"CHALLENGER","leagueId":"58b91d46-1ae9-3505-94f4-9743f1dfd5c7","queue":"RANKED_TFT","name":"Trundle''s
      Stalkers","entries":[{"summonerId":"aZN1ywM2iCQet_DIhqIJoKtRu0WfXBC0GVsk999gqeXjzQ4","summonerName":"Lab
      Member 001","leaguePoints":570,"rank":"I","wins":63,"losses":360,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"Z5Gy2en_FeMnelndsQt4QbR79N88pZVHlJbix5bbfJZ0Rdks","summonerName":"chitosechitose","leaguePoints":610,"rank":"I","wins":100,"losses":583,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"ruYgtG7zOZBV0hcnvi8f6eiLIRFjOlrWdUIri3UeJDHdamQ","summonerName":"Razorkill","leaguePoints":567,"rank":"I","wins":74,"losses":437,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"1EaGKrriry-bB0wZg7KP7KymoVCMGwDc44bup54K-[...]
