---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/tft/league/v1/entries/DIAMOND/I?page=2
    method: GET
  response:
    body: '[{"leagueId":"302f7830-005c-11ea-9566-da80b681e2c4","queueType":"RANKED_TFT","tier":"DIAMOND","rank":"I","summonerId":"SQmsdSjb1ev49Bbz80tW000EwNBz87Rvem_e2YLPpyTiV4GT","summonerName":"TocookieNA","leaguePoints":50,"wins":56,"losses":261,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"2ecfeae0-f2f8-11e9-9394-c81f66cf135e","queueType":"RANKED_TFT","tier":"DIAMOND","rank":"I","summonerId":"MjFavoWaW7N9jF2OcmGaWhDZLTNchWW47XiDr291vfmDGSOe","summonerName":"XzL33","leaguePoints":0,"wins":17,"losses":97,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"f2d403b0-b994-11e9-858a-c81f66cf2333","queueType":"RANKED_TFT","tier":"DIAMOND","rank":"I","summonerId":"haEy_0pw8CbIJQQgYIw-OygIWnQQCeML9mi5_fEVlwbEDvR8","summonerName":"courage0[...]
