---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/tft/league/v1/grandmaster
    method: GET
  response:
    body: '{"tier":"GRANDMASTER","leagueId":"7e009a40-26ac-3640-b8b6-04ad7fb88807","queue":"RANKED_TFT","name":"Sona''s
      Zealots","entries":[{"summonerId":"9mAz33vYcPnGS36jYhveZptH66w4ZShiCXJUJTuO8mSLhMY1","summonerName":"PodsTFT","leaguePoints":346,"rank":"I","wins":44,"losses":203,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"WxrhT-c-4pgyHJOAI5py2XKnbkduossILtOsNax8OgOSwRw","summonerName":"wjlee911","leaguePoints":239,"rank":"I","wins":30,"losses":65,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"CsNEfuQjRaleSIfxiGkEYcMk2tEilUYjDFiOTt9YRH8QbHM","summonerName":"Old
      Driver","leaguePoints":72,"rank":"I","wins":108,"losses":637,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"CaE6h5tTWmB9VqP0q7zCS2puxPFeGo87xz6hCvvtZ_U[...]
