---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/tft/league/v1/leagues/302f7830-005c-11ea-9566-da80b681e2c4
    method: GET
  response:
    body: '{"tier":"DIAMOND","leagueId":"302f7830-005c-11ea-9566-da80b681e2c4","queue":"RANKED_TFT","name":"Ashe''s
      Battlemasters","entries":[{"summonerId":"EBxAHhNPkWrcz6a2XFC2_lhoz9aim7KcCPTeUKd9cjnOe3U3","summonerName":"kamimosquitozero","leaguePoints":75,"rank":"I","wins":74,"losses":301,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"vi4eTC9Fh1CJ9zoEqoGin7UUQauVxm4XPooKBMFUtmDWQBw","summonerName":"SolrFlux","leaguePoints":31,"rank":"IV","wins":20,"losses":80,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"hxgyd24F70_d0GAuiVueaWvfgpA-1ds2lS2rmeP2nQNb1Xw","summonerName":"Serious
      Senpai","leaguePoints":50,"rank":"I","wins":46,"losses":271,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"kpikN_UHVZikfUJfFWPX8uzdU0N9LSsHRTA_GXTH[...]
