---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/tft/league/v1/master
    method: GET
  response:
    body: '{"tier":"MASTER","leagueId":"46ffc374-0bc9-32a5-a66a-8857379c724e","queue":"RANKED_TFT","name":"Lux''s
      Dawnbringers","entries":[{"summonerId":"NWpnpL6kc8G88rTsD25uMcg4H2TchKARgbw2wk4t2Jqf6jw","summonerName":"luanyuzhen","leaguePoints":0,"rank":"I","wins":94,"losses":431,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"UrC9g6SiIhh9ELkUqGlNGbGFwA5jZTmvn45PzhGCEGveQAk","summonerName":"Zarkson","leaguePoints":44,"rank":"I","wins":134,"losses":948,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"Zq-yACqHhW_hjfgV78HtPDOA5lgp4ugBoDS7r_vMhjbjLHl9","summonerName":"php
      and laravel","leaguePoints":10,"rank":"I","wins":17,"losses":88,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"wBuhWImwbFQVKHjGlZnkyDend2wG5qkfvcbwbYE[...]
