---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/league/v4/challengerleagues/by-queue/RANKED_SOLO_5x5
    method: GET
  response:
    body: '{"tier":"CHALLENGER","leagueId":"974b70e3-28eb-3b60-9e9f-82a8efa19f10","queue":"RANKED_SOLO_5x5","name":"Syndra''s
      Masterminds","entries":[{"summonerId":"6OXLkQex0-GOrj8Uckjd-sfEjXGWzBsoZRG-PFVD3dZZzGY","summonerName":"ìmp","leaguePoints":698,"rank":"I","wins":369,"losses":284,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"YP3tQZTRBQh0jbAhBO2goIt-Y7yJJKTetgivW8MMJBagFZI","summonerName":"Ducks
      Of Swag","leaguePoints":574,"rank":"I","wins":243,"losses":223,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"cGES9Q25thmRLGTf6KOXSARe-_p39-macbgTwwVaAwejMvg","summonerName":"Sepeku
      AW","leaguePoints":666,"rank":"I","wins":644,"losses":604,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"No8b2-d_PElxOQqpI2ukmwamsddZmZ[...]
