---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/I?page=1
    method: GET
  response:
    body: '[{"leagueId":"52fff6f0-2006-11e9-a5ff-c81f66dbb56c","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","summonerId":"5R6XW5L2C9p8u3qUWrbfH2mLl41_2X2wyqN1dt8H4isAn7ti","summonerName":"im  xiâotängyúan","leaguePoints":100,"wins":152,"losses":127,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false,"miniSeries":{"target":3,"wins":0,"losses":2,"progress":"LLNNN"}},{"leagueId":"1553d590-249a-11e9-b502-c81f66cf2333","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","summonerId":"tphaOvzpJRZSFAilo0O8wGZZerdlE8aSP7qIjcDZjW46KEKT","summonerName":"Save
      Mê","leaguePoints":100,"wins":222,"losses":153,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false,"miniSeries":{"target":3,"wins":0,"losses":0,"progress":"NNNNN"}},{"leagueId":"d76d9750-1feb-11e9-a5ff-c81f66dbb56c","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I"[...]
