---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/league/v4/leagues/00d07caf-539b-346a-a4f8-fdb57ab31aa4
    method: GET
  response:
    body: '{"tier":"GRANDMASTER","leagueId":"00d07caf-539b-346a-a4f8-fdb57ab31aa4","queue":"RANKED_SOLO_5x5","name":"Hecarim''s
      Duelists","entries":[{"summonerId":"V10X-p4OPStC_yvE9hphD_i-id5B1EIaRpoH1kFhvLiJtSE","summonerName":"ClamSparkle","leaguePoints":272,"rank":"I","wins":483,"losses":451,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"wfNqZKbSMJOe44ve5ClSbatfUrXhf1RZsHT5eGagZIQkfgt8","summonerName":"Neq","leaguePoints":318,"rank":"I","wins":235,"losses":165,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false},{"summonerId":"W0t1-tdU2k4vOTP5XpOxNCS3x4o5tbNSXxemJvxa0pFy99Y","summonerName":"Vaalen","leaguePoints":178,"rank":"I","wins":465,"losses":437,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":true},{"summonerId":"9afrp5DgUl4YWXdMgvEXadb4CZ_3soHEq-CkcxumpNY","summonerNam[...]
