---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/league/v4/masterleagues/by-queue/RANKED_SOLO_5x5
    method: GET
  response:
    body: '{"tier":"MASTER","leagueId":"fcedb763-36b2-37b7-bd05-e2c032671290","queue":"RANKED_SOLO_5x5","name":"Jarvan
      IV''s Elementalists","entries":[{"summonerId":"OSvDZDW5fxmY8o0hio28P3BfJ3AFQzuLWZ_RLglroMLo1YA","summonerName":"ItMightBeYaBoy","leaguePoints":153,"rank":"I","wins":191,"losses":119,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"FO2whkvX_1wGHGQA5fuuOuc_d4B2Zc2Pub8OmWZWvKRtnMo","summonerName":"th
      eggsalad","leaguePoints":171,"rank":"I","wins":888,"losses":870,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false},{"summonerId":"LX4qBNKzNHl8utC1Y47_TJR3iApvKQqZwE-DGd4Ezq362gE","summonerName":"Geiger","leaguePoints":55,"rank":"I","wins":846,"losses":833,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"summonerId":"9WusOrFlckuD5qsyF4Exy1GLgPUZZ2rA9bYLfNzKWjU[...]
