---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/match/v4/timelines/by-match/3198831326
    method: GET
  response:
    body: '{"frames":[{"participantFrames":{"1":{"participantId":3,"position":{"x":560,"y":581},"currentGold":500,"totalGold":500,"level":1,"xp":0,"minionsKilled":0,"jungleMinionsKilled":0,"dominionScore":0,"teamScore":0},"2":{"participantId":2,"position":{"x":560,"y":361},"currentGold":500,"totalGold":500,"level":1,"xp":0,"minionsKilled":0,"jungleMinionsKilled":0,"dominionScore":0,"teamScore":0},"3":{"participantId":4,"position":{"x":351,"y":293},"currentGold":500,"totalGold":500,"level":1,"xp":0,"minionsKilled":0,"jungleMinionsKilled":0,"dominionScore":0,"teamScore":0},"4":{"participantId":5,"position":{"x":221,"y":471},"currentGold":500,"totalGold":500,"level":1,"xp":0,"minionsKilled":0,"jungleMinionsKilled[...]
