---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/summoner/v4/summoners/1NgBFb-1WXj-ku_Fym3BQF1FxXUz9xrvpuIPVnSdvo6KjHo
    method: GET
  response:
    body: '{"id":"1NgBFb-1WXj-ku_Fym3BQF1FxXUz9xrvpuIPVnSdvo6KjHo","accountId":"L019WecOvXAAA7U2pplSIFOUjOvleGyX_9X_p2Al7J007A","puuid":"HldoCYMHNm27w37qJCfk5d20dB5uGma7oNuBVoZ01n3do7fMLW7ubao6SDeVAqTd9ieB5orqXvwHsQ","name":"IlikeDuck","profileIconId":2095,"revisionDate":1573544116000,"summonerLevel":73}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 20:1,100:120
      X-App-Rate-Limit-Count:
      - 1:1,1:120
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 1:60
      X-Riot-Edge-Trace-Id:
      - 7ec4d721-bfa2-459f-92ba-3de633349ed9
    status: 200 OK
    code: 200
    duration: ""
