---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/I
    method: GET
  response:
    body: '[{"leagueId":"52fff6f0-2006-11e9-a5ff-c81f66dbb56c","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","summonerId":"5R6XW5L2C9p8u3qUWrbfH2mLl41_2X2wyqN1dt8H4isAn7ti","summonerName":"im  xiâotängyúan","leaguePoints":50,"wins":138,"losses":114,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"1553d590-249a-11e9-b502-c81f66cf2333","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","summonerId":"tphaOvzpJRZSFAilo0O8wGZZerdlE8aSP7qIjcDZjW46KEKT","summonerName":"Save
      Mê","leaguePoints":99,"wins":218,"losses":148,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":true},{"leagueId":"d76d9750-1feb-11e9-a5ff-c81f66dbb56c","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","summonerId":"Ewlkj1avW7BZGduPJfPmFKSEDKabr3CVTqn6_SCKm5nZTN5J","summonerName":"FByA","leaguePoints":100,"wins":216,"losses":155,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false,"miniSeries":{"target":3,"wins":0,"losses":0,"progress":"NNNNN"}},{"leagueId":"6cbfbb00-ecae-11e9-b1cc-c81f66dbb56c","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","summonerId":"HS0E8fp8t3VQrQJpQWUXt6aVZQjhiYl-BNq_IsrvYepwVnTz","summonerName":"10
      02 1996","leaguePoints":38,"wins":147,"losses":96,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"122424f0-7ac7-11e9-8251-c81f66dbb56c","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","summonerId":"9_3zFtyFWGYCz-ehjObTa59Z3QvAwotl3VjW1GfxAskmN3ej"[...]
