---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/status/v3/shard-data
    method: GET
  response:
    body: '{"name":"North America","slug":"na","locales":["en_US"],"hostname":"prod.na1.lol.riotgames.com","region_tag":"na1","services":[{"name":"Game","slug":"game","status":"online","incidents":[]},{"name":"Store","slug":"store","status":"online","incidents":[{"id":13913,"active":true,"created_at":"2019-11-05T19:08:03.917Z","updates":[{"id":"5dc1c893f4322c782a255051","author":"","heading":"End
      of Season Rewards","content":"We have disabled transfers while we prepare for
      the end of the TFT ranked season.","severity":"info","created_at":"2019-11-05T19:08:03.917Z","updated_at":"2019-11-05T19:08:03.917Z","translations":[]}]}]},{"name":"Website","slug":"website","status":"online","incidents":[]},{"name":"Client","slug":"client","status":"online","incidents":[]}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"1bcfa1d8c1e7be76c5d428d3263d5f6e"'
      Last-Modified:
      - Thu, 07 Nov 2019 01:57:43 GMT
      X-Amz-Request-Id:
      - 38C6672CCCE1BA3A
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 1:10,1:600
      X-Riot-Edge-Trace-Id:
      - fba7953d-42d8-4ac3-8493-b685d0be6700
      X-Riotgames-Cdn:
      - Fastly
    status: 200 OK
    code: 200
    duration: ""
