---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/spectator/v4/active-games/by-summoner/1NgBFb-1WXj-ku_Fym3BQF1FxXUz9xrvpuIPVnSdvo6KjHo
    method: GET
  response:
    body: '{"gameId":3206061846,"mapId":11,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","gameQueueConfigId":420,"participants":[{"teamId":100,"spell1Id":4,"spell2Id":14,"championId":131,"profileIconId":607,"summonerName":"slushymilktea","bot":false,"summonerId":"qbpY-fE5OgWS23TT7UfxsokZjrqbnngIB2evJr8VCEQTjis","gameCustomizationObjects":[],"perks":{"perkIds":[8112,8139,8138,8135,8236,8226,5008,5008,5003],"perkStyle":8100,"perkSubStyle":8200}},{"teamId":100,"spell1Id":12,"spell2Id":4,"championId":90,"profileIconId":3159,"summonerName":"imafckingloser","bot":false,"summonerId":"1S_JzPf1WdpKHwp9UiOsf2u78fMV0PzlQLpJSf3Y6Ia-6kY","gameCustomizationObjects":[],"perks":{"perkIds":[8214,8226,8210,8236,8345,8347,5008,5008,5002],"perkStyle":8200,"perkSubStyle":8300}},{"teamId":100,"spell1Id":4,"spell2Id":7,"championId":51,"profileIconId":4379,"summonerName":"bu
      hui wan ","bot":false,"summonerId":"Zobr9d06WCaN3HwRD8xC5lBi09Uw_Xsi2Pj[...]
