---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/spectator/v4/featured-games
    method: GET
  response:
    body: '{"gameList":[{"gameId":3206142972,"mapId":12,"gameMode":"ARAM","gameType":"MATCHED_GAME","gameQueueConfigId":450,"participants":[{"teamId":100,"spell1Id":4,"spell2Id":7,"championId":161,"skinIndex":2,"profileIconId":3791,"summonerName":"MakeLove2Midgets","bot":false},{"teamId":100,"spell1Id":4,"spell2Id":32,"championId":12,"skinIndex":0,"profileIconId":1110,"summonerName":"RobReefer","bot":false},{"teamId":100,"spell1Id":32,"spell2Id":4,"championId":6,"skinIndex":3,"profileIconId":4379,"summonerName":"Spëedy","bot":false},{"teamId":100,"spell1Id":3,"spell2Id":4,"championId":145,"skinIndex":14,"profileIconId":4393,"summonerName":"shadic65","bot":false},{"teamId":100,"spell1Id":4,"spell2Id":7,"championId":51,"skinIndex":3,"profileIconId":953,"summonerName":"The
      Greatest Oat","bot":false},{"teamId":200,"spell1Id":3,"spell2Id":4,"championId":110,"skinIndex":0,"profileIconId":4154,"summonerName":"Cootsy","bot":false},{"teamId":200,"spell1Id":32,"spell2Id":4,"championId":24,"skinIndex":8,"profileIconId":4244,"summonerName":"IMMoJang","bot":false},{"teamId":200,"spell1Id":4,"spell2Id":32,"championId":55,"skinIndex":4,"profileIconId":3232,"summonerName":"Kahni","bot":false},{"teamId":200,"spell1Id":6,"spell2Id":4,"championId":13,"skinIndex":0,"profileIconId":3180,"summonerName":"adventcirno","bot":false},{"teamId":200,"spell1Id":4,"spell2Id":7,"championId":10,"skinIndex":5,"profileIconId":3854,"summonerName":"Fortilux","bot":false}],"observers":{"encryptionKey":"kldSBX9Gk+5YjGi0fXEOJ+P2zzCcffS5"},"platformId":"NA1","gameTypeConfigId":21,"bannedChampions":[],"gameStartTime":1573715669962,"gameLength":320},{"gameId":3206133468,"mapId":12,"gameMode":"ARAM","gameType":"MATCHED_GAME","gameQueueConfigId":450,"participants":[{"teamId":100,"spell1Id":13,"spell2Id":4,"championId":143,"skinIndex":0,"profileIconId":1456,"summonerName":"ImShengHi","bot":false},{"teamId":100,"spell1Id":32,"spell2Id":4,"championId":246,"skinIndex":0,"profileIconId":3790,"summonerName":"Jonas
      hao","bot":false},{"teamId":100,"spell1Id":4,"spell2Id":32,"championId":53,"skinIndex":7,"profileIconId":13,"summonerName":"N[...]
