---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/CHALLENGER/I?page=1
    method: GET
  response:
    body: '[{"leagueId":"974b70e3-28eb-3b60-9e9f-82a8efa19f10","queueType":"RANKED_SOLO_5x5","tier":"CHALLENGER","rank":"I","summonerId":"4P6Diw2Aq5gr-F3K_YGASHFb1cchy_zSdvMae7if7zzAWlM","summonerName":"Santorin","leaguePoints":1644,"wins":401,"losses":263,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"974b70e3-28eb-3b60-9e9f-82a8efa19f10","queueType":"RANKED_SOLO_5x5","tier":"CHALLENGER","rank":"I","summonerId":"FXQttQR2_7sg5M4x9NLsLJVfl7YwKsE4q0cCS9IZqC3ZXFg","summonerName":"Tony
      Top","leaguePoints":1321,"wins":946,"losses":828,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"974b70e3-28eb-3b60-9e9f-82a8efa19f10","queueType":"RANKED_SOLO_5x5","tier":"CHALLENGER","rank":"I","summonerId":"f83DUyJ4fqOTCMSpqB3P4dl8Dmcvv2ybGwBp_jIK19uxEz[...]
