---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/match/v4/matches/3198831326
    method: GET
  response:
    body: '{"gameId":3198831326,"platformId":"NA1","gameCreation":1573113265983,"gameDuration":1813,"queueId":420,"mapId":11,"seasonId":13,"gameVersion":"9.22.296.5720","gameMode":"CLASSIC","gameType":"MATCHED_GAME","teams":[{"teamId":100,"win":"Win","firstBlood":true,"firstTower":true,"firstInhibitor":true,"firstBaron":true,"firstDragon":true,"firstRiftHerald":true,"towerKills":10,"inhibitorKills":1,"baronKills":1,"dragonKills":3,"vilemawKills":0,"riftHeraldKills":1,"dominionVictoryScore":0,"bans":[{"championId":145,"pickTurn":1},{"championId":25,"pickTurn":2},{"championId":86,"pickTurn":3},{"championId":119,"pickTurn":4},{"championId":11,"pickTurn":5}]},{"teamId":200,"win":"Fail","firstBlood":false,"firstTower":false,"firstInhibitor":false,"firstBaron":false,"firstDragon":false,"firstRiftHerald":false,"towerKills":3,"inhibitorKills":0,"baronKills":0,"dragonKills":2,"vilemawKills":0,"riftHeraldKills":0,"dominionVictoryScore":0,"bans":[{"championId":103,"pickTurn":6},{"championId":35,"pickTurn":7},{"championId":86,"pickTurn":8},{"championId":111,"pickTurn":9},{"championId":74,"pickTurn":10}]}],"participants":[{"participantId":1,"teamId":100,"championId":432,"spell1Id":4,"spell2Id":14,"stats":{"participantId":1,"win":true,"item0":3092,"item1":3157,"item2":3905,"item3":3117,"item4":3067,"item5":1031,"item6":3340,"kills":4,"deaths":11,"assists":17,"largestKillingSpree":2,"largestMultiKill":2,"killingSprees":1,"longestTimeSpentLiving":324,"doubleKills":1,"tripleKills":0,"quadraKills":0,"pentaKills":0,"unrealKills":0,"totalDamageDealt":44728,"magicDamageDealt":36615,"physicalDamageDealt":6283,"trueDamageDealt":1829,"largestCriticalStrike":0,"totalDamageDealtToChampions":20257,"magicDamageDealtToChampions":16335,"physicalDamageDealtToChampions":2721,"trueDamageDealtToChampions":1200,"totalHeal":3833,"totalUnitsHealed":4,"damageSelfMitigated":14025,"damageDealtToObjectives":3002,"damageDealtToTurrets":1839,"visionScore":35,"timeCCingOthers":40,"totalDamageTaken":22677,"magicalDamageTaken":5313,"physicalDamageTaken":15467,"trueDamageTaken":1896,"goldEarned":10330,"goldSpent":9600,"turretKills":0,"inhibitorKills":0,"totalMinionsKilled":32,"neutralMinionsKilled":4,"neutralMinionsKilledTeamJungle":0,"neutralMinionsKilledEnemyJungle":0,"totalTimeCrowdControlDealt":282,"champLevel":14,"visionWardsBoughtInGame":0,"sightWardsBoughtInGame":0,"wardsPlaced":18,"wardsKilled":3,"firstBloodKill":false,"firstBloodAssist":false,"firstTowerKill":false,"firstTowerAssist":false,"firstInhibitorKill":false,"firstInhibitorAssist":true,"combatPlayerScore":0,"objectivePlayerScore":0,"totalPlayerScore":0,"totalScoreRank":0,"playerScore0":0,"playerScore1":0,"playerScore2":0,"playerScore3":0,"playerScore4":0,"playerScore5":0,"playerScore6":0,"playerScore7":0,"playerScore8":0,"playerScore9":0,"perk0":8112,"perk0Var1":1500,"perk0Var2":0,"perk0Var3":0,"perk1":8126,"perk1Var1":664,"perk1Var2":0,"perk1Var3":0,"perk2":8120,"perk2Var1":3,"perk2Var2":30,"perk2Var3":16,"perk3":8134,"perk3Var1":37,"perk3Var2":5,"perk3Var3":0,"perk4":8313,"perk4Var1":0,"perk4Var2":0,"perk4Var3":0,"perk5":8347,"perk5Var1":0,"perk5Var2":0,"perk5Var3":0,"perkPrimaryStyle":8100,"perkSubStyle":8300,"statPerk0":5008,"statPerk1":5008,"statPerk2":5002},"timeline":{"participantId":1,"creepsPerMinDeltas":{"10-20":1,"0-10":0.7999999999999999,"20-30":1.4},"xpPerMinDeltas":{"10-20":443.6,"0-10":319.29999999999995,"20-30":505.4},"goldPerMinDeltas":{"10-20":338.2,"0-10":274.9,"20-30":367.1},"csDiffPerMinDeltas":{"10-20":0.6499999999999999,"0-10":1.1,"20-30":-2.2499999999999996},"xpDiffPerMinDeltas":{"10-20":-55.849999999999994,"0-10":54.25,"20-30":57},"damageTakenPerMinDeltas":{"10-20":919.1,"0-10":340.4,"20-30":1008.1999999999999},"damageTakenDiffPerMinDeltas":{"10-20":134.35000000000002,"0-10":-66.45,"20-30":-304.15000000000015},"role":"DUO_SUPPORT","lane":"BOTTOM"}},{"participantId":2,"teamId":100,"championId":59,"spell1Id":4,"spell2Id":11,"stats":{"participantId":2,"win":true,"item0":1413,"item1":3801,"item2":3742,"item3":3047,"item4":3065,"item5":1011,"item6":3340,"kills":3,"deaths":10,"assists":23,"largestKillingSpree":2,"largestMultiKill":1,"killingSprees":1,"longestTimeSpentLiving":450,"doubleKills":0,"tripleKills":0,"quadraKills":0,"pentaKills":0,"unrealKills":0,"totalDamageDealt":137827,"magicDamageDealt":35880,"physicalDamageDealt":79884,[...]
