---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
    url: https://na1.api.riotgames.com/lol/match/v4/matchlists/by-account/L019WecOvXAAA7U2pplSIFOUjOvleGyX_9X_p2Al7J007A
    method: GET
  response:
    body: '{"matches":[{"platformId":"NA1","gameId":3198831326,"champion":39,"queue":420,"season":13,"timestamp":1573113265983,"role":"SOLO","lane":"TOP"},{"platformId":"NA1","gameId":3198778660,"champion":39,"queue":420,"season":13,"timestamp":1573111429811,"role":"SOLO","lane":"TOP"},{"platformId":"NA1","gameId":3198701902,"champion":39,"queue":420,"season":13,"timestamp":1573103722598,"role":"SOLO","lane":"TOP"},{"platformId":"NA1","gameId":3198677395,"champion":39,"queue":420,"season":13,"timestamp":1573102274096,"role":"DUO","lane":"NONE"},{"platformId":"NA1","gameId":3197551230,"champion":39,"queue":440,"season":13,"timestamp":1573021[...]
